.aside__filterPrice{
	border: 1px solid $borderColor;
    border-radius: 10px;
    background: #FBFBFB;
    margin-bottom: 22px;
    overflow: hidden;
}
.aside__filterPhone-list{
	list-style: none;
	padding: 0px;
	margin: 0;
	border: 1ps solid #dee1e4;
	border-radius: 5px;
}
.aside__filterPhone-list-items:first-child{
    border-bottom: 1px solid $borderColor;
}
.aside__filterPhone-list-items-links{
	text-decoration: none;
	display: block;
	padding: 13px 20px 16px 30px;
    font-size: 14px;
    color: #878787;
	border-radius: 5px 5px 0 0;
}
.aside__filterPhone-list-items-links-active{
	background-color:#d9e5ea;
	border-radius: 0 0 5px 5px;
}

.aside__conteinerFilters{
	@extend .aside__filterPhone-list;
	background-color: #fbfbfb;
	overflow: hidden;
	width: 330px;
}

/* block with having */
.aside__conteinerFilters-having{
	padding: 15px 0 0px 28px ;
	border-bottom: 1px solid #dee1e4;
}
.aside__conteinerFilters-having-name{
	font-weight: bold;
    margin-bottom: 15px;
    font-family: "Open Sans Semibold";
    font-size: 17px;
    width: 100%;
    position: relative;

}
.aside__conteinerFilters-having-name-link, .aside__conteinerFilters-having-name-link-down{
	text-decoration: none;
	color: #000000;
	display: inline-block;
    width: 260px;
    height: 100%;
     &:after, .aside__conteinerFilters-having-name-link-down:after{
    	content: '';
    	position: absolute;
    	background-image: url(../img/sprite_sidebar.png);
		background-position: 50px 20px;
		width: 18px;
		height: 11px;
		top:1px;
		right: 15px;
    }
}

.aside__conteinerFilters-having-name-link-down:after{
	background-position: -19px 0px;

}
.aside__conteinerFilters-having-input{
	margin-left: 5px;
 	margin-right: 7px;
	margin-bottom: 24px;
}
/* end block with having */

/* block with brends and price */
.aside__conteinerFilters-brends{
	@extend .aside__conteinerFilters-having;
	
}
.aside__conteinerFilters-brends-name{
	@extend .aside__conteinerFilters-having-name;
	margin-bottom: 15px;
}
.aside__conteinerFilters-brends-input{
	@extend .aside__conteinerFilters-having-input
}
.aside__conteinerFilters-brends-reset{
	display: block;
	margin-bottom: 7px;
	font-size: 14px;
	color: #b1d9fb;
	text-decoration: underline;
	background: none;
	border: none;
	outline: none;
}

.aside__conteinerFilters-price{
	@extend .aside__conteinerFilters-having;
}
.aside__conteinerFilters-price-name{
	@extend .aside__conteinerFilters-having-name;
}
.aside__conteinerFilters-price-name-container{
	display: block;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 19px 34px;
    background-color: $logoColor;
}
.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: grey;
    color: #222222;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    font-weight: normal;
    background-image: url(../img/sprite.png);
        background-position: -51px -32px;
    width: 9px;
    height: 15px;
    color: #555555;
    top: 3px;
    background-color: white;
    outline: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none; 
    background-image: url(../img/sprite.png);
    font-weight: normal;
    color: #555555;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -6px;
}

.accordion-section__text-box{
	margin-bottom: 25px;
}
.accordion-section__text{
	display: inline;
	vertical-align: top;
	margin-left: 7px;
	width: 240px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.accordion-section__input_text{
	width: 50px;
	border: 1px solid $borderColor;
    border-radius: 5px;

}
.accordion-section__input_text_min{

}
.accordion-section__input_text_max{

	margin-left: 10px;
}


.aside__conteinerFilters-price-input-min{
	width: 80px;
	border-radius: 5px;
}
.aside__conteinerFilters-price-input-min{
	@extend .aside__conteinerFilters-price-input-min;
	    margin-bottom: 27px;
}
.ui-slider-horizontal{
	height: 3px;
	width: 230px;
}
.aside__conteinerFilters-price-div{
	    margin-bottom: 27px;
}

/* end block with brends and price */

/* block with color */
.aside__conteinerFilters-color{
	@extend .aside__conteinerFilters-having;
	padding: 15px 0 0px 28px;
	
}
.aside__conteinerFilters-color-container{
	@extend .aside__conteinerFilters-having-input;
	width: 250px;
	margin: 0;
	border-bottom: none;
	display: none
}
.aside__conteinerFilters-color-name{
    margin-bottom: 15px;
    border-bottom: none;
    @extend .aside__conteinerFilters-having-name;
}
.aside__conteinerFilters-color-container-items{
			width: 38px;
		    height: 39px;
		    margin: 0px 17px 15px 0;
		    display: inline-block;
		    border: 1px solid $borderColor;
		    cursor: pointer;
		    &:hover{
		    	box-shadow: 0 0 10px #FF6600;
		    }
		  }
.activeColorSidebar{
	box-shadow: 0 0 10px #FF6600;
}


$colorClass: white, grey, black, steelblue, red, yellow, orange, green, blue, purple, pink, brown;
@each $colorsClass in $colorClass{
		 .#{$colorsClass}{
			
		    background-color: #{$colorsClass};
		 
		  }
};
/* end block with color */

/* block with system */


.aside__conteinerFilters-system{
	@extend .aside__conteinerFilters-having;
}
.aside__conteinerFilters-system-name{
	@extend .aside__conteinerFilters-having-name;
	margin: 0px;
}
.aside__conteinerFilters-system-input{
	@extend .aside__conteinerFilters-having-input;
	&:last-child{
		margin-bottom: 10px;
	}
}
.aside__conteinerFilters-system-reset{
    margin-bottom: 20px;
    @extend .aside__conteinerFilters-brends-reset;
}