.main{
	width: 100%;
}
.maine__container{
	width: 960px;
	margin: 0 auto;
	background-color: grey;
}
.maine__container-picture{
	width: 700px;
}
.maine__container-picture-name{
	margin: 0;
	padding: 0;
}