.main{
    width: 100%;
    padding-top: 60px;
}

.main__container{
    width: 960px;
    margin: auto;
    background-color: rgba(45, 54, 65, .67);
    @extend %clearfix;
    display: flex;
}

.main__container-picture {
    width: 700px;
    float: left;
}

.main__container-picture-name {
    margin: 0;
    padding: 0;
}

.main__container-picture-display {
    width: 650px;
    height: 535px;
    background-color: #ffffff;
    margin-left: 25px;
    margin-bottom: 25px;
     background-image: url(../img/backgroundImg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}

.main__container-picture-title {
    margin-top: 8px;
    margin-left: 22px;
    margin-bottom: 20px;
}

.main__container-picture-title-name {
    color: #ffffff;
    font-family: $fontPlaceholder;
    font-weight: normal;
    font-size: 36px;
    margin-top: 0px;
}

.main__container-picture-display {
    position: relative;
}
