.socials {
    position: absolute;
    top: 42px;
}

// блок с языками
.lang {
    width: 42px;
    margin-bottom: 18px;
}

.lang__item {
    border-top: 1px solid #a5a7ac;
    &:first-child {
        border-top: 0 none;
    }
}

.lang__link {
    @extend .social__link;
}

.lang__link_ru {
    display: block;
    @include sprite($ru);
}

.lang__link_en {
    display: block;
    @include sprite($en);
}

//блок с социальными иконками
.socials__wrapper {
    position: relative;
}

.social__item_like {
    position: relative;
    transition: margin-left .5s ease;

    &:hover {
        margin-left: 41px;
    }
}

.social__list-inner {
    position: absolute;
    right: 100%;
    top: 0;
}

.social__link {
    text-decoration: none;
    color: transparent;
    display: block;
}

.social__link_fb {
    display: block;
    @include sprite($fb);

    &:hover {
        @include sprite($fb-hover);
    }

}

.social__link_like {
    display: block;
    @include sprite($like);

    &:hover {
        @include sprite($like-hover);
    }
}

.social__link_twt {
    display: block;
    @include sprite($twt);
    
    &:hover {
        @include sprite($twt-hover);
    }
}

.social__link_vk {
    display: block;
    @include sprite($vk);

    &:hover {
        @include sprite($vk-hover);
    }
}