.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* Блок с загрузкой файлов */
.maine__upload-block {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 18px;
}

.upload-block__label {
	display: block;
	margin-bottom: 25px;
}

.upload-block__label:last-child {
	margin-bottom: 0;
}

.label__title {
	display: block;
	width: 218px;
	font-size: 14px;
	line-height: 16px;
	color: #3b424d;
	margin-bottom: 7px;
}

.input__wrap {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 0;
}


.file__name {
	box-sizing:border-box;
	float: left;
	display: block;
	width: 180px;
	height: 27px;
	line-height: 27px;
	color:#9eb2c0;
	font-size: 12px;
	padding-left: 5px;
	border:1px solid #9eb2c0;
	border-radius: 3px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-right: 0px none;
}

.file__button {
	display: block;
	float: right;
	font-size: 12px;
	width: 39px;
	height: 27px;
	background: #f97e76 url(../img/download.png) center center no-repeat;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

.file__button:hover {
	cursor: pointer;
}

.upload-block__label .file__input {
	position: absolute;
	top: 0;
	opacity: 0;
}
/*Блок с загрузкой файлов КОНЕЦ!!!!!*/

// Размер картинок
.wrap_img{
	position:relative;
	display: inline-block;
}
.big_img,.water_mark{
	max-width:650px;
	max-height:430px;
}
.water_mark{
	position:absolute;
	top:0;
	left:0;
}