aside.maine__container-aside
				.maine__container-aside-title
					h2.maine__container-aside-title-name
				.maine__container-aside-container
					.maine__container-aside-container-upLoad

					.maine__container-aside-container-position

					.maine__container-aside-container-opacity

					.maine__container-aside-container-buttom