aside.maine__container-aside
	.maine__container-aside-shell
			.maine__container-aside-shell-title
				h2.maine__container-aside-shell-title-name
			.maine__container-aside-shell-container
				.maine__container-aside-shell-container-upLoad

				.maine__container-aside-shell-container-position

				.maine__container-aside-shell-container-opacity

				.maine__container-aside-shell-container-buttom