.wrapper
	main.main
		.maine__container
			.maine__container-picture
				.maine__container-picture-title
					h1.maine__container-picture-title-name
						|Генератор водяных знаков
				.maine__container-picture-display

			include aside.jade

	.socials
	
.empty
