.main:before, .maine__container:before, .main:after, .maine__container:after {
  content: "";
  display: table;
}
.main:after, .maine__container:after {
  clear: both;
}

.main:before, .maine__container:before, .main:after, .maine__container:after {
  content: "";
  display: table;
}
.main:after, .maine__container:after {
  clear: both;
}

/* ------------- sections---------- */
html, body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-all {
  min-height: 100%;
}

/* pressing footer */
.empty {
  height: 35px;
  padding-bottom: 35px;
}

.footer {
  height: 35px;
  margin-top: -35px;
}

.main {
  width: 100%;
}

.maine__container {
  width: 960px;
  margin: 45px auto;
  background-color: grey;
}

.maine__container-picture {
  width: 700px;
  float: left;
}

.maine__container-picture-name {
  margin: 0;
  padding: 0;
}

.maine__container-picture-display {
  width: 650px;
  height: 535px;
  background-color: #ffffff;
}

.maine__container-aside {
  float: right;
}

.maine__container-aside-shell {
  width: 260px;
  min-height: 660px;
  background-color: #f1f1f5;
}

.footer {
  width: 100%;
}

.footer__container {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

.copyright {
  color: #ffffff;
  font-size: 12px;
}
