aside.maine__container-aside
    .maine__container-aside-shell
            .maine__container-aside-shell-title
                h2.maine__container-aside-shell-title-name
                    |Настройки
            form.maine__container-aside-shell-form

                .maine__container-aside-shell-form-container
                    .maine__container-aside-shell-form-container-upLoad
                        include upload
                    .maine__container-aside-shell-form-container-fence

                    .maine__container-aside-shell-form-container-position
                        include position
                    .maine__container-aside-shell-form-container-fence

                    .maine__container-aside-shell-form-container-opacity
                        include opacity
                    .maine__container-aside-shell-form-container-fence

                    .maine__container-aside-shell-form-container-buttom
                        button.maine__container-aside-shell-form-container-buttom-reset(type="reset" value="Сброс")
                            |Сброс
                        button.maine__container-aside-shell-form-container-buttom-Upload(type="submit")
                            |Скачать
