.wrapper
    main.main

        .main__container
            .main__container-picture
                .main__container-picture-title
                    h1.main__container-picture-title-name
                        |Генератор водяных знаков
                .main__container-picture-display.canvas
                    .canvas__inner

            include aside

    .socials
        include lang

        include socials

.empty
