meta(charset="UTF-8")
//meta(name="viewport" content="width= ")
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name="description" content="Store by Nikula Misha")
meta(name="keywords" content="waterMark")
title Генератор водяный знаков
link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
<<<<<<< HEAD
link(rel="stylesheet", href="../bower_components/normalize-css/normalize.css")
link(rel="stylesheet", href="css/styles.css")
=======

include styles
>>>>>>> 9a57ca30a47a4074fa20a8989f4fe9723ba16fe7
