.position

    .position__title Положение

    -
        var grid = [
            ['left top', 'center top', 'right top'],
            ['left center', 'center center', 'right center'],
            ['left bottom', 'center bottom', 'right bottom']
        ];

    .position__grid-wrapper

        table.position__grid

            each row in grid

                tr.position__grid-row

                    each cell in row

                        td.position__grid-cell(data-position='#{cell}')

    .position__inputs-wrapper

        .input-number.position__input-x(data-min=0 data-max=100)

            label.input-number__label X

                input.input-number__field(name='x-position' type='number' value=10)

            span.input-number__spin.input-number__spin_more Увеличить
            span.input-number__spin.input-number__spin_less Уменьшить

        .input-number.position__input-y(data-min=0 data-max=100)

            label.input-number__label Y

                input.input-number__field(name='y-position' type='number' value=0)

            span.input-number__spin.input-number__spin_more Увеличить
            span.input-number__spin.input-number__spin_less Уменьшить
