.position

    .position__title Положение

    -
        var grid = [
            [{x: 0, y: 0}, {x: 50, y: 0}, {x: 100, y: 0}],
            [{x: 0, y: 50}, {x: 50, y: 50}, {x: 100, y: 50}],
            [{x: 0, y: 100}, {x: 50, y: 100}, {x: 100, y: 100}]
        ];

    .position__grid-wrapper

        table.position__grid

            each row in grid

                tr.position__grid-row

                    each cell in row

                        td.position__grid-cell(data-pos-x='#{cell.x}' data-pos-y='#{cell.y}')

    .position__inputs-wrapper

        .input-number.position__input-container

            label.input-number__label X

                input.input-number__field.position__input.position__input_x(name='x-position' data-min=0 data-max=400 type='number' value=10)

            span.input-number__spin.input-number__spin_more Увеличить
            span.input-number__spin.input-number__spin_less Уменьшить

        .input-number.position__input-container

            label.input-number__label Y

                input.input-number__field.position__input.position__input_y(name='y-position' data-min=0 data-max=400 type='number' value=0)

            span.input-number__spin.input-number__spin_more Увеличить
            span.input-number__spin.input-number__spin_less Уменьшить
