

// build:js js/vendor.min.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/nouislider/distribute/nouislider.js')
<<<<<<< HEAD
=======
script(src='../bower_components/jquery-ui/ui/widget.js')
>>>>>>> ac7b64af3e0f2203b55f0d59433cd4a19c76b3ce
script(src='../bower_components/blueimp-file-upload/js/jquery.fileupload.js')
// endbower
// endbuild

// build:js js/scripts.min.js
script(src='js/scripts.js')
// endbuild

