

// build:js js/vendor.min.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/nouislider/distribute/nouislider.js')
script(src='../bower_components/jquery-ui/ui/widget.js')
script(src='../bower_components/blueimp-file-upload/js/jquery.fileupload.js')
script(src='../bower_components/get-size/get-size.js')
script(src='../bower_components/ev-emitter/ev-emitter.js')
script(src='../bower_components/unipointer/unipointer.js')
script(src='../bower_components/unidragger/unidragger.js')
script(src='../bower_components/draggabilly/dist/draggabilly.pkgd.js')
script(src='../bower_components/blockUI/jquery.blockUI.js')
// endbower
// endbuild

// build:js js/scripts.min.js
script(src='js/scripts.js')
// endbuild

