<<<<<<< HEAD
=======

// build:js js/vendor.min.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/nouislider/distribute/nouislider.js')
// endbower
// endbuild

// build:js js/scripts.min.js
script(src='js/scripts.js')
// endbuild

>>>>>>> 9a57ca30a47a4074fa20a8989f4fe9723ba16fe7
