// build:css css/vendor.min.css
// bower:css
link(rel='stylesheet', href='../bower_components/normalize-css/normalize.css')
link(rel='stylesheet', href='../bower_components/nouislider/distribute/nouislider.min.css')
// endbower
// endbuild

// build:css css/styles.min.css
link(rel='stylesheet', href='css/styles.css')
// endbuild

