.maine__upload-block
	label.upload-block__label
		span.label__title Выбрать файл
		span.input__wrap.clearfix
			span.file__name Файл не выбран
			span.file__button
			input(type="file" id="big_img" name="big_img")
				
	label.upload-block__label
		span.label__title Выбрать файл
		span.input__wrap.clearfix
			span.file__name Файл не выбран
			span.file__button
			input(type="file" id="water_mark" name="water_mark")			


