.main__upload-block
    label.upload-block__label
        label.label__title(for='big-img-input') Исходное изображение
        span.input__wrap.clearfix
            span.file__name Файл не выбран
            span.file__button
            input(type="file" id="big-img-input" name="big_img").file__input
                
    label.upload-block__label
        label.label__title(for='watermark-input') Водяной знак
        span.input__wrap.clearfix
            span.file__name Файл не выбран
            span.file__button
            input(type="file" id="watermark-input" name="water_mark").file__input
