.main__upload-block
    label.upload-block__label
        span.label__title.label__title_image Исходное изображение
        span.input__wrap.clearfix
            span.file__name.fn Файл не выбран
            span.file__button
            input(type="file" id="big-img-input" name="big_img").file__input
                
    .section-block.section-block_wat
        label.upload-block__label
            span.label__title.label__title_watermark Водяной знак
            span.input__wrap.clearfix
                span.file__name.fn Файл не выбран
                span.file__button
                input(type="file" id="watermark-input" name="water_mark").file__input
