@font-face {
	font-family: 'SegoeUI-Light';
	src: 
		url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/SegoeUI-Light.woff') format('woff'), 
		url('../fonts/SegoeUI-Light.ttf')  format('truetype'), 
		url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: 
		url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/Roboto-Medium.woff') format('woff'), 
		url('../fonts/Roboto-Medium.ttf')  format('truetype'), 
		url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: 
		url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/Roboto-Light.woff') format('woff'), 
		url('../fonts/Roboto-Light.ttf')  format('truetype'), 
		url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
