%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin social ($soc, $pos, $posHover ){
    .social-item-#{$soc}{
        background-image: url(../img/sprite_socials.png);
        background-position: $pos;
        width:26px;
        height: 26px;
            &:hover{
                width:26px;
                height: 26px;
                background-image: url(../img/sprite_socials.png);
                background-position: $posHover;
                }
    }
}
@mixin socialFooter ($soc, $pos, $posHover  ){
    .footer__navigation-links-list-social-#{$soc}{
        background-image: url(../img/sprite_socials.png);
        background-position: $pos;
        width:43px;
        height: 43px;
            &:hover{
                width:43px;
                height: 43px;
                background-image: url(../img/sprite_socials.png);
                background-position: $posHover;
                }
    }
}

@mixin views ($num, $pos, $posHover ){
    .section__sort-byCatalogs-linkView#{$num}{
        background-image: url(../img/sprite.png);
        background-position: $pos;
            width: 17px;
        height: 17px;
            &:hover{
                width:17px;
                height: 17px;
                background-image: url(../img/sprite.png);
                background-position: $posHover;
                }
    }
}

@mixin divColors ($divClass, $divColor){
.aside__conteinerFilters-color-container-items #{$divClass}{
        width: 38px;
        height: 39px;
        background-color: #{$divColor};
        margin: 0px 17px 15px 0;
        display: inline-block;
      }
    }
