doctype html
html(lang="ru-Ua")
	head
		meta(charset="UTF-8")
		//meta(name="viewport" content="width= ")
		meta(name="description" content="Store by Nikula Misha")
		meta(name="keywords" content="waterMark")
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="bower/normalize-css/normalize.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="")
		title
			|Watermark Generator
		script(type='text/javascript' src="../bower/modernizr/modernizr.js")
	body
		div.wrapper

			div.empty



