include ../common/variables

doctype html

html(lang='ru')

    include ../components/head

    body

        .wrapper-all

            block content

        include ../components/footer

        include ../components/scripts
