include ../common/variables

doctype html

html(lang='ru')
    head
        include ../components/head

    body(lang='ru')

        .wrapper-all

            block content

        include ../components/footer

        include ../components/scripts
