.opacity__title {
    font-family: $globalFont;
    font-size: 14px; 
    margin-bottom: 26px;
}

.slider__value {
    display: none;
}

.noUi-target {
    border-radius: 3px;
    border: none;
    box-shadow: none;
}
.noUi-base{
    background: #9eb2c0
}

.noUi-background {
    background: #dbe1e8;
    box-shadow: none;
}

.noUi-horizontal {
    height: 3px;
}

.noUi-handle{
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    width: 24px !important;
    height: 24px !important;
    top: -10px !important;
    left: -15px !important;
    @include sprite($slider-opacity);
    cursor: pointer;

    &:before {
        content: '';
        display: none;
    }

    &:after {
        content: '';
        display: none;
    }

}
.noUi-active{
    @include sprite($slider-opacity-active);
}